---
layout: layout
title: Error 404 - Page not found
description: The page you requested could not be found.
permalink: 404.html
---

{# Copyright © 2024 CovidTestMap.ca <contact@covidtestmap.ca> #}
{# Licensed under the terms of the GPL-3 license. #}

<main class="not-found">
  <header>
    <h1>404 – Page not found</h1>
  </header>
</main>
