---
layout: layout
title: COVID Test Map • Canada
description: Explore a map showcasing various providers across Canada offering free COVID tests, complete with details on expiration dates.
---

{# Copyright © 2024 CovidTestMap.ca <contact@covidtestmap.ca> #}
{# Licensed under the terms of the GPL-3 license. #}

<main class="test-map">
  <div id="map-container" class="map-container"></div>
  <div class="controls">
    <button type="button" id="question-button" class="question-toggle">
      <span></span>
    </button>
    <div id="question-popover" class="popover control-hidden">
      <div>
        <header>
          <h4>Availability & Expiry</h4>
        </header>
        <ul class="control-body">
          <li class="good">
            <p>
              <em>Tests available</em><br>Expiration date over 60 days
            </p>
          </li>
          <li class="expiring">
            <p>
              <em>Tests available</em><br>Expiration date under 60 days
            </p>
          </li>
          <li class="expired">
            <p>
              <em>Expired tests may be available</em>
            </p>
          </li>
          <li class="no-tests hidden" id="no-tests-caption">
            <p>
              <em>No tests available</em>
            </p>
          </li>
        </ul>
      </div>

      <div class="control-body">
        <label class="toggle">
          <input id="location-toggle" class="toggle-checkbox" type="checkbox">
          <div class="toggle-switch"></div>
          <span class="toggle-label">Include locations without tests</span>
        </label>
      </div>
    </div>
  </div>

  <footer>
    <div>
      To add/update a location, fill the
      <a href="https://cryptpad.fr/form/#/2/form/view/nLC2xHUIC4SSSftiTgCqqNqYdBfg5A2VdaYhttj+lpU/">form</a>
      or
      <a href="mailto:contact@covidtestmap.ca">get in touch!</a>
    </div>
  </footer>
</main>

<script>
  window.COVID_TEST_LOCATIONS = {{ allLocations() | safe }}
</script>

<script
    src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
    crossorigin async
    data-callback="initMapKit"
    data-libraries="map,annotations"
></script>

<script defer src="/assets/scripts/index.js"></script>
